.body {
    background-image: url(./img/background\ 1\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 1030px;
    margin: 0px auto;
}

.header {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
}

a.header-logo-link {
    color: #FFFFFF;
    text-decoration: none;
}

a.header-logo-link:hover {
    color: #F26522;
}

.header-logo-link-image {
    width: 53px;
    height: 47px;
    background-image: url(./img/logo\ 3\ \(2\).png);
}

.header-logo-link-image:hover {
    background-image: url(./img/logoorange.png);
}

.milan-text {
    font-family: "Roboto";
    font-weight: 700;
    height: 21px;
    font-size: 29px;
    line-height: 29px;
    position: relative;
    left: 61px;
}

.holidays-text {
    font-family: "Roboto";
    font-weight: 700;
    height: 21px;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    left: 61px;
    margin-top: 11px;

}

.header-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-contacts-mail {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

a.header-contacts-mail:hover {
    color: #F26522;
}

.header-contacts-numer {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-top: 19px;

}

a.header-contacts-numer:hover {
    color: #F26522;
}

.main-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 61px;
    grid-row-gap: 37px;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.dropdown-first-row {
    width: 302px;
    height: 55px;
    opacity: 0;
    background-color: #F26522;
    position: absolute;
    top: 348px;
    color: #FFFFFF;

}
a.link:hover .dropdown-first-row {
    opacity: 1;
    background-color: #F26522;
    position: absolute;
    top: 293px;
    transition: 2s;
}
.dropdown-second-row {
    width: 302px;
    height: 55px;
    opacity: 0;
    background-color: #F26522;
    position: absolute;
    top: 646px;
    color: #FFFFFF;

}

a.link:hover .dropdown-second-row {
    opacity: 1;
    background-color: #F26522;
    position: absolute;
    top: 591px;
    transition: 2s;
}

.link:hover {
    color: #F26522;

}

.title {
    margin-top: 20px;
    text-align: center;

}

.title-from {
    color: #FFFFFF;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    padding-top: 7px;
    padding-left: 16px;
}

.title-money {
    color: #FFFFFF;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-top: 8px;
    padding-left: 16px;

}

.title-details {
    color: #FFFFFF;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding-left: 128px;
}

.title-details::after {
    content: url(./img/Vector\ 1\ \(1\).png);
    padding-left: 16px;
    padding-top: 31px;
}




.footer {
margin-top:49px;
}

.footer-text {
    text-align: center;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 12px;
}