body {
    background-image: url(./img/Фон\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    height: 3.625rem;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container-logo {
    width: 157px;
    height: 22px;
}

.JOURNEY {
    margin-left: 4.9375rem;
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.JOURNEY:hover {
    color: #01813F;
    transition: 0.3s;
}

.header-menu {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-calendar {
    margin-left: 4.9375rem;
}

.icon-calendar:hover path {
    fill: #01813F;
    transition: 0.3s;
}

.icon-pochta {
    margin-left: 1.5rem;
}

.icon-pochta:hover path {
    fill: #01813F;
    transition: 0.3s;
}

.icon-compas {
    margin-left: 1.5rem;
}

.icon-compas:hover path {
    fill: #01813F;
    transition: 0.3s;
}

.item-line {
    margin-left: 1.5rem;
}

.item-line::after {
    content: url(./img/line.png);
    opacity: 0.5;
}

.item-link {
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.log-link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

}

.log-link:hover {
    color: #01813F;
    transition: 0.3s;
}


.sign-link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

}

.sign-link:hover {
    color: #01813F;
    transition: 0.3s;
}

/* /*основная часть  */
.main {
    width: 27.75rem;
    height: 36.5rem;
    background-color: #FFFFFF;
    margin: 0% auto;

}

.green-box {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    margin-top: 31px;
    float: left;

}

.link-sign-up {
    margin-top: 31px;
    color: #434343;
    text-decoration: none;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

}

.link-log-in {
    color: #3CB878;
    text-decoration: none;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
}

.link-log-in:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.form-nav {
    margin: 31px 60px 38px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.link {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.link-buttom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.buttom-facebook {
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    background-image: url(./img/f\ 1.png);
    background-repeat: no-repeat;
    background-position: 12px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttom-facebook:hover {
    background-color: #022263;
    transition: 0.3s;
}

.line-facebook {
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    margin-left: 19px;
    opacity: 10%;

}

.text-facebook {
    width: 71px;
    height: 14px;
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-left: 18px;

}


.buttom-google {
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    background-image: url(./img/G+.png);
    background-repeat: no-repeat;
    background-position: 15px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttom-google:hover {
    background-color: #AB1F09;
    transition: 0.3s;
}

.text-google {
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-left: 30px;
}

.line-google {
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    margin-left: 47px;
    opacity: 10%;

}

.horizontal-line {
    display: flex;
    margin-top: 32px;
}

.horizontal-line-left {
    width: 152px;
    background-color: #F2F2F2;
    opacity: 0.2;

}

.span-or {
    color: #848484;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.horizontal-line-right {
    width: 154px;
    background-color: #F2F2F2;
    opacity: 0.2;

}

#name {
    height: 2.875rem;
    color: #BEBEBE;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 0.5rem;
    padding-left: 1.25rem;
    border: 1px solid #F2F2F2;

}

#name:focus {
    outline: none !important;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color: #434343;
}

#last-name {
    height: 2.875rem;
    color: #BEBEBE;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 0.5rem;
    padding-left: 1.25rem;
    border: 1px solid #F2F2F2;
}

#last-name:focus {
    outline: none !important;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color: #434343;

}

#email {
    height: 2.875rem;
    color: #BEBEBE;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 0.5rem;
    padding-left: 1.25rem;
    border: 1px solid #F2F2F2;
}

#email:focus {
    outline: none !important;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color: #434343;

}

#choose-password {
    height: 2.875rem;
    color: #BEBEBE;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 0.5rem;
    padding-left: 1.25rem;
    border: 1px solid #F2F2F2;
}

#choose-password:focus {
    outline: none !important;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color: #434343;
}

#confirm-password {

    height: 2.875rem;
    color: #BEBEBE;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 0.5rem;
    padding-left: 1.25rem;
    border: 1px solid #F2F2F2;

}

#confirm-password:focus {
    outline: none !important;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color: #434343;
}

#label {
    margin-top: 0.5rem;
    margin-left: 8px;
}

#checkbox-input {
    display: none;
}

.text-agree::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -8px;
    border: 1px solid #F2F2F2;
}

#checkbox-input[type=checkbox]:checked+.text-agree::before {
    content: url(./img/Vector\ 1.png);

}

.text-agree {
    color: #434343;
    font-family: "Ubuntu";
    font-style: verdana;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.checkbox-link {
    color: #3CB878;
    font-family: "Ubuntu";
    font-style: verdana;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}

.checkbox-link:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 0.3s;
}

/* кнопка*/


#button {
    color: #FFFFFF;
    background-color: #3CB878CC;
    height: 2.875rem;
    opacity: 0.8;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
}

#button:hover {
    background-color: #01813F;
    transition: 0.3s;
}